<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ClientID" value="Большой большой секрет"/>
    <add key="UID" value="Большой большой секрет"/>
    <add key="Domain" value="Большой большой секрет"/>
    <add key="ApiPrepareDownloadUrl" value="Большой большой секрет"/>
    <add key="ApiDownloadUrl" value="Большой большой секрет"/>
    <add key="ApiUserInfoUrl" value="Большой большой секрет"/>
  </appSettings>
</configuration>